@model WebApplication1.Models.ViewModel.MovieEditViewModel

@{
    ViewBag.Title = "View";
}

<script>
    function onSuccess(result) {
        if (result == '成功！') {
            alert('成功！');
            window.location.href = '@Url.Action("MovieList","Home")'
        }
    }
</script>

<h2>View</h2>


@using (Ajax.BeginForm("UpdateMovieEdit", null, 
    new AjaxOptions(){HttpMethod = "Post",OnSuccess = "onSuccess",}
    , new { @id = "inputForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Entity.MovieSn)
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        <div class="form-group">        
            <div class="col-md-10">
                電影名稱
                @Html.EditorFor(m => m.Entity.MovieName, new { htmlAttributes = new { @class = "form-control" ,} })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                分級
                @Html.EditorFor(m => m.Entity.Rate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">    
            <div class="col-md-10">
                主角
                @Html.EditorFor(m =>m.Entity.Actor, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
